.bg_status {
    background-color: rgb(240, 240, 240);
}

.disableTable {
    pointer-events: none;
    opacity: 0.6;
}

/* .tab-pane {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */
.menu-info {
    flex: 0 1 calc(20% - 10px);
    /* Đặt chiều rộng cho mỗi phần tử, đảm bảo vừa 5 phần tử trên 1 dòng */
    box-sizing: border-box;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}


.cursor-not-allowed-menu {
    position: relative;
    opacity: 0.4;
    cursor: not-allowed !important;
}
/* 
.cursor-not-allowed-menu:hover::after {
    content: "Đã lên món!";
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 9999;
    opacity: 1;
    pointer-events: none; 
} */

.cursor-not-allowed-menu::after {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.footer-left {
    text-align: left;
    /* Căn chữ bên trái */
    flex-grow: 1;
    /* Đẩy nội dung khác về phía bên phải */
}

.table-info {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.table-info.selected {
    border-color: #00ff40;
    background-color: #d1ffe4;
}

.menu-info {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

/* .menu-info:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
} */

.menu-info.selected {
    border-color: #00ff40;
    background-color: #d1ffe4;
}