.bg_status {
    background-color: rgb(240, 240, 240);
}

.disableTable {
    pointer-events: none;
    opacity: 0.6;
}

/* .tab-pane {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */
.menu-info {
    flex: 0 1 calc(20% - 10px); /* Đặt chiều rộng cho mỗi phần tử, đảm bảo vừa 5 phần tử trên 1 dòng */
    box-sizing: border-box;
}